body {
  margin: 3% 7%;
  background: linear-gradient(
    to bottom right,
    #dcfefb,
    #edfeec,
    #e8f2ee,
    #f4fcf7
  );
  color: #1d3d73;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
  font-weight: bolder;
}
.result-section {
  text-align: center;
}
.result-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.result-container {
  list-style: none;
  padding: 0;
}
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result:last-child {
  margin-bottom: 0;
}

.result span {
  font-weight: bold;
}

.result span.severity {
  color: red;
}
.submit-button {
  padding: 6px 12px;
  border-radius: 7px;
  color: #ffffff;
  border: none;
  background-color: #8f1d44;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #861b42;
}

input[type="text"] {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 20%;
  padding: 10px 20px;
}
